<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BaiduMapDemo2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52593ED11FEB99E10033DA63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52593EEA1FEB99E20033DA63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52593EF51FEB99E20033DA63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
